{% extends "base.html" %}

{% block windowtitle %}{{ article.title }}{% endblock %}

{%block canonical%}{{ article.url }}{%endblock%}

{%block columnsizeleft %}large-10{% endblock %}
{%block columnsizeright %}large-2{% endblock %}

{% block content %}
<article>
<div class="small-12 medium-12 large-9 columns">
	<div class="row">
		<div class="small-12 columns">
			<h1>{{article.title}}</h1>
			{{ article.content }}
			{% if (article.prev_article_in_category or article.next_article_in_category) and article.category not in ['News','Course'] %}
			<hr/>
			{% endif %}
		</div>
	</div>
	{%if article.category not in ['News','Course'] %}
	<div class="row">
		<div class="small-12 columns">
			<ul class='prevnext'>
		 	{% if article.prev_page_in_category %}
		     <li><b>Previous</b> - <a href="{{ SITEURL }}/{{ article.prev_page_in_category.url}}">
		            {{ article.prev_page_in_category.title }}
		         </a>
		     </li>
		 	{% endif %}
		 	{% if article.next_page_in_category %}
		     <li><b>Next</b> - <a href="{{ SITEURL }}/{{ article.next_page_in_category.url}}">
		             {{ article.next_page_in_category.title }}
		         </a>
		     </li>
		 	{% endif %}
			</ul>
		</div>
	</div>
	{% endif %}
</div>
<div class="large-3 show-for-large-up columns">
	<div class="row">
		<p></p>
	</div>
	<div class="row">
		<div class="small-12 columns authordetails">
			<p><img src="{{SITEURL}}/images/{{ article.author|lower|replace(' ', '-') }}.jpg"/>
			by <a href="mailto:{{article.address}}">{{ article.author }}.</a>
			<br/>{{ article.locale_date }}.
			{% if article.locale_modified %}
			<br/>updated on {{article.locale_modified}}.
			{% endif %}
			</p>
			<hr/>
		</div>
	</div>
	<div class="row">
	<div class="small-12 columns">
		{% for tag in article.tags %}
		<span class="[success secondary round radius] label"><a href="{{SITEURL}}/{{tag.url}}">{{tag.name}}</a></span>
		{% endfor %}
	<hr/>
	</div>
	</div>
	{% if article.solutions %}
	<div class="row">
		<div class="small-12 columns">
		<p><a href="{{article.solutions}}" class="fi-social-github has-tip" data-tooltip aria-haspopup="true" title="Exercise solutions"></a>Find the <strong>solutions</strong> to these exercises on GitHub.</p><hr/>
		</div>
	</div>
	{% endif %}
	<div class="row">
		<div class="small-12 columns">
		<ul class="side-nav">
			{% for cat, arts in categories %}
				{% if cat == article.category and cat not in ['News','Course'] %}
				{% for art in arts|sort(attribute="number") %}
					{% if category.name != 'News' %}
						<li><a href="{{SITEURL}}/{{art.url}}">{{loop.index}}. {{art.title}}</a></li>
					{% endif %}
				{% endfor %}
				{% endif %}
			{% endfor %}
		</ul>
		</div>
	</div>
</div>
</article>

{% endblock %}

{% block solutions %}

{% endblock %}
