<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>{% block windowtitle %}{{ SITENAME }}{% endblock %}</title>
		<meta name="description" content="">
		<meta name="author" content="{{ AUTHOR }}">

		<link rel="stylesheet" href="{{ SITEURL }}/theme/css/app.css" />
		<link rel="stylesheet" href="{{ SITEURL }}/theme/foundation-icons/foundation-icons.css" />

		<link rel="stylesheet" href="{{ SITEURL }}/theme/css/pygment.css" />
		<link rel="stylesheet" href="{{ SITEURL }}/theme/css/pygment/{{ FOUNDATION_PYGMENT_THEME }}.css" />
		<link rel="canonical" href="https:{{ SITEURL }}/{% block canonical %}{% endblock %}" />


		<script src="{{ SITEURL }}/theme/bower_components/modernizr/modernizr.js"></script>

		<!-- Feeds -->
		{% if FEED_ALL_ATOM %}
		<link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
		{% endif %}
		{% if FEED_ALL_RSS %}
		<link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
		{% endif %}

		{% include "analytics.html" %}

		<!-- mathjax config similar to math.stackexchange -->
		<script type="text/x-mathjax-config">
		MathJax.Hub.Config({
			jax: ["input/TeX", "output/HTML-CSS"],
			tex2jax: {
				inlineMath: [ ['$', '$'] ],
				displayMath: [ ['$$', '$$']],
				processEscapes: true,
				skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
			},
			messageStyle: "none",
			"HTML-CSS": { preferredFont: "TeX", availableFonts: ["STIX","TeX"] }
		});
		</script>
		<script type="text/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
		<script type="text/javascript" src="//use.typekit.net/cjg7xbm.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	</head>
	<body>
		<div class="off-canvas-wrap" data-offcanvas>
			<div class="inner-wrap">
				<!-- mobile top bar to activate nav -->
				<nav class="tab-bar show">
					<section class="left">
						<a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
					</section>
					<section class="middle tab-bar-section">
						<h1 class="title">{%block logoname %}{{ SITENAME|replace(' ', '&nbsp;') }}{% endblock %}</h1>
					</section>
				</nav>

				<!-- mobile side bar nav -->
				<aside class="left-off-canvas-menu">
					<ul class="off-canvas-list">
						<li><a href="{{ SITEURL }}">Home</a></li>
						<li><label>Tutorials</label></li>
						{% for cat, articles in categories %}
							{%if cat.name not in ['News','Course'] %}
								<li {% if cat == category %}class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
							{% endif %}
						{% endfor %}
					</ul>
				</aside>
				<!-- top bar nav -->
				<nav class="top-bar hide" data-topbar>
					<ul class="title-area">
						<li class="name">
							<h1><a href="{{ SITEURL }}/">{{ SITENAME }}</a></h1>
						</li>
					</ul>

					<section class="top-bar-section centered hide">
						<ul class="left">
							{% for cat, articles in categories %}
								<li {% if cat == category %}class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
							{% endfor %}
						</ul>
					</section>
				</nav>

				<!-- Main Page Content and Sidebar -->
				<section class="main-section">
					<div class="row">
						<!-- Main Content -->
						<div class="medium-8 small-12 {%block columnsizeleft %}{% endblock %} medium-centered columns" role="content">
							{% if pagetitle is defined %}
							<div class="row">
								<div class="small-12 columns">
									<h2>{{pagetitle}}</h2>
								</div>
							</div>
							{% endif %}
							<div class="row">
								{% block content %}{% endblock %}
							</div>
						</div>
						<!-- End Main Content -->
					</div>

					<!-- Footer -->
					<footer class="row">
						<div class="medium-8 small-12 large-10 {%block columnsizeright %}{% endblock %} medium-centered columns">
						<hr/>
						{%block footer %}©2011-2016 <a href="mailto:sue@pythonschool.net">Sue Sentance</a> and <a href="mailto:adam@pythonschool.net">Adam McNicol</a>.{% endblock %}
						</div>
					</footer>
					<!-- End Footer -->
				</section>
				<a class="exit-off-canvas"></a>
			</div><!--off-canvas inner-->
		</div><!--off-canvas wrap-->

		<script src="{{ SITEURL }}/theme/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="{{ SITEURL }}/theme/bower_components/foundation/js/foundation.min.js"></script>
		<script src="{{ SITEURL }}/theme/js/app.js"></script>
	</body>
</html>