{% extends "base.html" %}

{% block windowtitle %}{{ category.name }}{% endblock %}

{%block canonical%}{{ category.url }}{%endblock%}

{% block content %}
<h1>{{category.name}}
{# show summaries of the latest articles #}
{% if articles %}
    {% if category.name in ['News','Course'] %}
        {% for article in (articles|selectattr("date")|sort(attribute='date',reverse=True)) %}
        <article>
        <h3><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h3>
        <h6>{{article.locale_date}}.</h6>
        {{ article.content if FOUNDATION_FRONT_PAGE_FULL_ARTICLES else article.summary }}
        {% if not FOUNDATION_FRONT_PAGE_FULL_ARTICLES %}
            {# add a 'Continue reading' link if we're displaying summaries #}
            <p class="continue"><a href="{{ SITEURL }}/{{ article.url }}">Continue reading</a></p>
        {% endif %}
        </article>
        {%if not loop.last %}
        <hr />
        {%endif %}
        {% endfor %}
    {% else %}
        {% for article in (articles|selectattr("number")|sort(attribute='number')) %}
        <div class="row">
            <article>
                <div class="small-12 medium-12 columns">
                    <h3><a href="{{ SITEURL }}/{{ article.url }}">{{loop.index}}. {{ article.title }}</a></h3>
                    <p>
                    {% for tag in article.tags %}
                        <span class="[success secondary round radius] label"><a href="{{SITEURL}}/{{tag.url}}">{{tag.name}}</a></span>
                    {% endfor %}
                    </p>
                    {{ article.content if FOUNDATION_FRONT_PAGE_FULL_ARTICLES else article.summary }}
                    {% if not FOUNDATION_FRONT_PAGE_FULL_ARTICLES %}
                        {# add a 'Continue reading' link if we're displaying summaries #}
                        <p class="continue"><a href="{{ SITEURL }}/{{ article.url }}">Continue reading</a></p>
                    {% endif %}
                </div>
            </article>
        </div>
        {%if not loop.last %}
        <hr />
        {%endif %}
        {% endfor %}
    {% endif %}
{%endif%}
{% endblock %}