{% extends "base.html" %}

{%block canonical%}{%endblock%}

{%block columnsizeleft %}large-10{% endblock %}
{%block columnsizeright %}large-2{% endblock %}

{% block content %}
<div class="row">
	<div class="small-12 medium-12 columns">
		<ul class="news-orbit" data-orbit data-options="slide_number: false, navigation_arrows: false">
		{%for article in articles if article.category == "News" %}
			<li>
				<img src="{{SITEURL}}/{{article.category.name|lower}}/images/{{article.image}}" />
				<div class="orbit-caption">
					<h1>{{article.title}}</h1>
				</div>
			</li>
		{% endfor %}
		</ul>
	</div>
</div>
<div class="row">
	<div class="small-12 medium-8 columns">
			<div class="row">
				<div class="small-12 columns">
					<h1>Learn to program, one byte at a time.</h1>
					<p>
					Python School provides a way for existing ICT teachers to gain the knowledge and skills necessary to teach Computing and Computer Science in schools.
					</p>
					<p>
					The materials are designed to enable you to gain the experience necessary to teach Computing at Key Stage 3, GCSE and A-Level.
					</p>
				</div>
			</div>
	</div>
	<div class="small-12 medium-4 columns">
		<div class="row">
			<div class="small-12 columns socialstuff">
				{%if SOCIAL %}
					<ul class="button-group">
					{% for name, link in SOCIAL %}
						{%if name == 'facebook' %}
	                    <li><a href="{{ link }}" class="fi-social-facebook has-tip" data-tooltip aria-haspopup="true" title="Like on Facebook"></a></li>
	                    {% elif name == 'twitter' %}
	                    <li><a href="{{ link }}" class="fi-social-twitter has-tip" data-tooltip aria-haspopup="true" title="Follow on Twitter"></a></li>
	                    {% elif name == 'github' %}
	                    <li><a href="{{ link }}" class="fi-social-github has-tip" data-tooltip aria-haspopup="true" title="Fork code on GitHub"></a></li>
	                    {% elif name == 'vimeo' %}
	                    <li><a href="{{ link }}" class="fi-social-vimeo has-tip" data-tooltip aria-haspopup="true" title="View videos on Vimeo"></a></li>
	                    {% elif name == 'email' %}
	                    <li><a href="{{ link }}" class="fi-mail has-tip" data-tooltip aria-haspopup="true" title="Email us"></a></li>
	                    <!--{% elif name == 'team' %}
	                    <li><a href="{{ link }}" class="fi-torsos-all has-tip" data-tooltip aria-haspopup="true" title="Meet the team"></a></li>-->
	                    {% elif name == 'download' %}
	                    <li><a href="{{ link }}" class="fi-download has-tip" data-tooltip aria-haspopup="true" title="Download Python"></a></li>
	                    {% endif %}
	                {% endfor %}
	                </ul>
				{% endif %}
				<hr/>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<ul class="side-nav">
				{% for category, article in categories %}
				{% if category.name not in ['News','Course'] %}
					<li><a href="{{SITEURL}}/{{category.url}}">{{category.name}}</a></li>
				{% endif %}
				{% endfor %}
				</ul>
				<hr/>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<ul class="side-nav">
				{% set course_present = false %}
				{% for category, articles in categories %}
				{% if category.name == 'Course' %}
					{% set course_present = true %}
					{%for article in articles %}
						<li><a href="{{SITEURL}}/{{article.url}}">{{article.title}} - {{article.locale_date}}</a></li>
					{% endfor %}
				{% endif %}
				{% endfor %}

				{% if course_present == false %}
					<li>There are no courses currently planned.</li>
				{% endif %}
				</ul>
			</div>
		</div>
	</div>
</div>
{% endblock %}

