@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";


//page footer
.prevnext {
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    li{
        display: inline-block;
    }
}

//images

img {
    display: block;
    margin-left:auto;
    margin-right:auto;
}

//social media badges

.fi-social-twitter{
    margin-right: 10px;
    font-size: 1.2em;
}

.fi-social-facebook{
    margin-right: 10px;
    font-size: 1.2em;
}

.fi-social-github{
    margin-right: 10px;
    font-size: 1.2em;
}

.fi-social-vimeo{
    margin-right: 10px;
    font-size: 1.2em;
}

.fi-mail{
    margin-right: 10px;
    font-size: 1.2em;
}

.fi-torsos-all{
    margin-right: 10px;
    font-size: 1.2em;
}

.fi-download{
    margin-right: 10px;
    font-size: 1.2em;
}

.socialstuff{
    text-align: center;
}

//news orbit
.orbit-container{
    .orbit-slides-container {

    }
}
.orbit-caption{
    position: relative;
    bottom: 0;

    h1 {
        color: white;
        margin-bottom: 0px;
        padding-bottom:0px;
        font-size:1.1em;
        line-height: 0.8em;
    }

    p {
        padding-top: 0px;
        margin-top: 0px;
    }
}

//article tweaks

.authordetails {
    img {
        width: 25%;
        margin-left:0;
        margin-right:0;
    }

    p {
        font-size: 0.75em;
    }
}

//code highlighting
.highlighttable {
    width: 100%;
}

.highlight pre {
    font-family: "source-code-pro", Consolas, Courier, monospace;
    font-weight: 300;
}

.linenodiv pre {
    font-family: "source-code-pro", Consolas, Courier, monospace;
    font-weight: 200;
}

.gitsolutions
{
  text-align: center;
}

.tab-bar-section
{
    text-align: left;
}

//category tweaks
.continue {
    text-align: right;
}

//menu height issues
.off-canvas-wrap, .inner-wrap {
    //min-height: 100%;
}

.off-canvas-wrap{
    //height: 100%;
    //overflow-y: auto;
}